.szin{
    width: 95px;
    height: 90px;
    margin: 5px;
    border-radius: 15px;
}

.kepek{
    margin: auto;
    gap: 10%;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.kep img{
    width: 50%;
    
}