* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-areas:
    "h h"
    "as a";
  grid-template-columns: 150px auto;
}

article {
  display: grid;
  grid-area: a;
  grid-template-columns: repeat(35,20px);
  grid-template-rows: repeat(50,20px);
  padding: 1px;
  margin: auto;
}

header {
  grid-area: h;
}

header h1 {
  text-align: center;
}

aside {
  grid-area: as;
}

.kocka {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0;
}

.szin {
  width: 95px;
  height: 90px;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.kepek {
  margin: auto;
  margin-top: 10%;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(5, auto);
  padding-left: 5%;
  padding-right: 5%;
}

.kep img {
  width: 80%;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: width 1s;
}

.kep img:hover {
  width: 150px;
}

.kivalasztottKep>img {
  width: 50%;
  position: absolute;
  top: 15%; 
  left: 30%;
  z-index: -1;
}
