.szin{
    width: 95px;
    height: 90px;
    margin: 5px;
    border-radius: 15px;
}

.kepek{
    margin: auto;
    gap: 10%;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.kep img{
    width: 50%;
    
}

.canvas {
    border: 1px solid #000;
  }

.square {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #000;
  }


  .color-picker {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
  }